div.epigraph > blockquote {
    margin-top:    1em;
    margin-bottom: 1em;
}

div.epigraph {
    margin: 2em 0 3em;
}

body {
    margin-top: 60px;
}

blockquote > footer {
    text-align: left;
    margin-top: 10px;
    color:      rgba(0, 0, 0, .4);
}

h3 > em {
    color: rgba(0, 0, 0, .4);
}

.thing {
    margin: 40px 0 100px;
}

.separator {
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
    position: absolute;
    height: 10px;
    left: 0;
    right: 0;
}
